<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse">
  <div class="container">
    <button type="button" data-toggle="collapse" data-target="#navbarMain" class="navbar-toggler navbar-toggler-right">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="/" class="navbar-brand">Loc8r</a>
    <div id="navbarMain" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/about/" class="nav-link">About </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <footer>
    <div class="row">
      <div class="col-12"><small>&copy; Simon Holmes 2017</small></div>
    </div>
  </footer>
</div>