@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
}

.navbar {
  background-color: #ad1d28;
  border-color: #911821;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

.banner {
  margin-top: 4em;
}

h1 small {
  color: #aaa;
}

.list-group-item-clear {
  background-color: transparent;
}

legend {
  font-family: 'Lobster', cursive;
}

body {
  font-family: "Cabin", Arial, sans-serif;
  color: #ffffff;
  background-color: #108a93;
}