<div class="row">
  <div class="col-12 col-md-6">
    <app-rating-stars [thisRating]="location.rating"></app-rating-stars>
    <p>{{ location.address }}</p>
    <div class="card card-primary">
      <div class="card-block">
        <h2 class="card-title">Opening hours</h2>
          <p class="card-text" *ngFor="let time of location.openingTimes" [ngSwitch]="time.closed">
          {{ time.days }} :
          <span *ngSwitchCase="true">closed</span>
          <span *ngSwitchDefault>{{ time.opening + " - " + time.closing }}</span>
        </p>
      </div>
    </div>
    <div class="card card-primary">
      <div class="card-block">
        <h2 class="card-title">Facilities</h2>
        <span *ngFor="let facility of location.facilities" class="badge badgewarning">
          <i class="fa fa-check"></i>
          {{facility}}
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 location-map">
    <div class="card card-primary">
      <div class="card-block">
        <h2 class="card-title">Location map</h2>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{location.coords[1]}},{{location.coords[0]}}&zoom=17&size=400x350&sensor=false&markers={{location.coords[1]}},{{location.coords[0]}}&key=AIzaSyCWRp5sIDdzRgFOe-TzcA0FQPo8HSV33w4&scale=2" class="img-fluid rounded"/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card card-primary review-card">
      <div class="card-block">
        <a href="/location/{{location._id}}/review/new" class="btn btn-primary float-right">Add review</a>
        <h2 class="card-title">Customer reviews</h2>
        <div *ngFor="let review of location.reviews | mostRecentFirst" class="row review">
          <div class="col-12 no-gutters review-header">
            <app-rating-stars [thisRating]="review.rating"></app-rating-stars>
            <span class="reviewAuthor">{{ review.author }}</span>
            <small class="reviewTimestamp">{{ review.createdOn | date : 'd MMMM yyyy' }}</small>
          </div>
          <div class="col-12">
            <p [innerHTML]="review.reviewText | htmlLineBreaks"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
